<div id="spreadsheet">
  <h3>Spreadsheet Program</h3>
  <p>
    This workshop requires a working spreadsheet program. If you don't have a spreadsheet program already, such as Microsoft Excel, you can use LibreOffice. It's a free, open source spreadsheet program. Directions to install are included for Windows, Mac OS X, and Linux systems below.
  </p>

  <div>
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a data-os="windows" href="#spreadsheet-windows" aria-controls="Windows" role="tab" data-toggle="tab">Windows</a></li>
      <li role="presentation"><a data-os="macos" href="#spreadsheet-macos" aria-controls="MacOS" role="tab" data-toggle="tab">MacOS</a></li>
      <li role="presentation"><a data-os="linux" href="#spreadsheet-linux" aria-controls="Linux" role="tab" data-toggle="tab">Linux</a></li>
    </ul>

    <div class="tab-content">
      <article role="tabpanel" class="tab-pane active" id="spreadsheet-windows">
        <ol>
          <li>Download the installer from <a href="https://www.libreoffice.org/download/download">https://www.libreoffice.org/download</a>. The version for Windows should automatically be selected.</li>
          <li>Click Download Version X.X.X (whichever is the most recent version). You will go to a page that asks about a donation, but you don’t need to make one. Your download should begin automatically.</li>
          <li>Once the installer is downloaded, double click on it and LibreOffice should install.</li>
        </ol>
      </article>
      <article role="tabpanel" class="tab-pane" id="spreadsheet-macos">
        <ol>
          <li>Download the installer from <a href="https://www.libreoffice.org/download/download">https://www.libreoffice.org/download</a>. The version for Mac should automatically be selected.</li>
          <li>Click Download Version X.X.X (whichever is the most recent version). You will go to a page that asks about a donation, but you don’t need to make one. Your download should begin automatically.</li>
          <li>Once the installer is downloaded, double click on it and LibreOffice should install.</li>
        </ol>
      </article>
      <article role="tabpanel" class="tab-pane" id="spreadsheet-linux">
        <ol>
          <li>Download the installer from <a href="https://www.libreoffice.org/download/download">https://www.libreoffice.org/download</a>. The version for Linux should automatically be selected.</li>
          <li>Click Download Version X.X.X (whichever is the most recent version). You will go to a page that asks about a donation, but you don’t need to make one. Your download should begin automatically.</li>
          <li>Once the installer is downloaded, double click on it and LibreOffice should install.</li>
        </ol>
      </article>
    </div>
  </div>
</div>
